[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = tiago.rgarcia@ua.pt
	name = Tiago Garcia
	signingkey = 163D23CB1BD2F4FECA6D3695DFCD48E3F420DB42
[core]
	editor = nvim
	excludesfile = /home/tiagorg/.gitignore
[alias]
    commit = commit -S
	pr = pull --rebase
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
